environment:

  matrix:
    # For Python versions available on Appveyor, see
    # https://www.appveyor.com/docs/windows-images-software/#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.

    - PYTHON: "C:\\Python35"
      PYTHON_ARCH: "32"
    - PYTHON: "C:\\Python36"
      PYTHON_ARCH: "32"
    - PYTHON: "C:\\Python35-x64"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python36-x64"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python37-x64"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python38-x64"
      PYTHON_ARCH: "64"

  global:
    TWINE_USERNAME: __token__
    TWINE_PASSWORD:
      secure: uvO05h1Fbx/RYMGq5YMoiWJTp3JkuRbDqnm3VkINHpcUn9BcXRB/e4/aMKuucWFcwUZNpw+9BB5uO6DenpBcQIX1ET/fwoRTcRCRY7E97PKEvvBR29MjpHqX2UkdDCOqyEaNl/KenU9IWdVIDe3PgTYofgha+q2zO/It1LQzVg9L10x6oH0/tMyGz009FUTo+k+CA+VvAx3BJqV3p59b2HARdDVTWuv2UGg9swfDWXd0OPbaFP+iSzEyKBgPclXSfRhB00PlfHK/9PtPQyqMag==

matrix:
  fast_finish: true

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""

  # Upgrade to the latest version of pip to avoid it displaying warnings
  # about it being out of date.
  - "python -m pip install --upgrade pip"

  # Install the build dependencies of the project. If some dependencies contain
  # compiled extensions and are not provided as pre-built wheel packages,
  # pip will build them from source using the MSVC compiler matching the
  # target Python version and architecture
  - "python -m pip install -r requirements-test.txt"

build: off

test_script:
  - "python -m pytest --cov=pymem"

after_test:
  - "codecov -t %COV_TOKEN%"
  - "python -m pip install -r requirements-doc.txt"
  - "sphinx-apidoc -f -o docs/source pymem"
  - "cd docs/source && make.bat html"
  - "python -m pip install wheel"
  - "python setup.py sdist bdist_wheel"

for:
-
  branches:
    only:
      - autotwine

  build_script:
    - python -m pip install -r requirements-test.txt
    - python -m pip install -U pip
    - python setup.py -q sdist bdist

  build: on

  deploy: on

  deploy_script:
    - cmd: twine upload --verbose --skip-existing dist/* && exit 0

artifacts:
  - path: 'docs/source/_build/html'
    name: doc
