environment:

  matrix:
    # For Python versions available on Appveyor, see
    # http://www.appveyor.com/docs/installed-software#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.

    - PYTHON: "C:\\Python35"
      PYTHON_ARCH: "32"
    - PYTHON: "C:\\Python36"
      PYTHON_ARCH: "32"
    - PYTHON: "C:\\Python35-x64"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python36-x64"
      PYTHON_ARCH: "64"

matrix:
  fast_finish: true

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""

  # Upgrade to the latest version of pip to avoid it displaying warnings
  # about it being out of date.
  - "python -m pip install --upgrade pip"

  # Install the build dependencies of the project. If some dependencies contain
  # compiled extensions and are not provided as pre-built wheel packages,
  # pip will build them from source using the MSVC compiler matching the
  # target Python version and architecture
  - "python -m pip install -r requirements.txt"
  - "python -m pip install -r requirements-test.txt"

build: off

test_script:
  - "python -m pytest --cov=pymem"

after_test:
  - "codecov -t %COV_TOKEN%"
  - "python -m pip install -r requirements-doc.txt"
  - "sphinx-apidoc -f -o docs/source pymem"
  - "cd docs/source && make.bat html"
  - "python -m pip install wheel"
  - "python setup.py sdist bdist_wheel"

artifacts:
  - path: 'docs/source/_build/html'
    name: doc
  - path: 'dist'
    name: package